/* Rojo: #EF3B36 
Samsung: #034ea2
*/
.body
{
    font-family: 'Times New Roman', Times, serif;
}
.navColor
{
    background-color: #ffffff;
}
.welcome
{
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;    
    text-align: center;
    font-size: 3em;
}
.fsr 
{
    color: #ffffff;
    font-weight: bold;
    font-size: calc(2.5em + 1vw);
    line-height: 1.5em;
    padding: 0em;
    margin: 0em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.fsrm23
{
    font-size: calc(2.3em + 1vw);
}
.letraColor
{
    color: #034ea2;
    font-size: 20px;    
    font-weight: bold;
}
.divInicio
{
    background-color: #034ea2;
    padding-top: 15px;
    padding-bottom: 15px;
}
.imgSize
{
    height: 400px;
    max-height: 400px;
}
.projectsColor
{
    background-color: #dddddd;
}
.footerColor
{
    background-color: #30475e;
}
.arrowColor
{
    background-color: #ffffff;
}
.letraWhite
{
    color: #fff;
}
.letraBlack
{
    color: #000;
}
a img
{   
    margin-right: 15px;  
}
a:hover
{
    color: #000;
}